.primary {
    background-color: #A9B388;
    color: #FEFAE0;
}

.secondary {
    background-color: #FEFAE0;
    color: #B99470;
}

.box-colors {
    background-color: #A9B388;
    color: #B99470;
}

.text-color {
    color: #FEFAE0;
}